# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Rodrigo\Desktop\TU-Braunschweig\WS20-21\Datalab\Datalab\Unit_4\Rodrigo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
